ai-audit-n8n-workflow (1).json
{
  "name": "AI Business Audit — Report Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Receive Audit Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.body.email }}",
        "options": {}
      },
      "id": "sheets-check",
      "name": "Check Email in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "Email Already Used?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Receive Audit Submission').item.json.body.email }}",
        "subject": "Your AI Readiness Report is here 📊",
        "emailType": "html",
        "message": "={{ $('Check Email in Sheet').item.json['Cached Report'] }}",
        "options": {}
      },
      "id": "resend-email",
      "name": "Resend Cached Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an expert AI business consultant producing a professional audit report.\\n\\nBUSINESS PROFILE:\\n- Company: {{ $('Receive Audit Submission').item.json.body.bizName }}\\n- Industry: {{ $('Receive Audit Submission').item.json.body.bizIndustry }}\\n- Size: {{ $('Receive Audit Submission').item.json.body.bizSize }}\\n- Revenue: {{ $('Receive Audit Submission').item.json.body.bizRevenue }}\\n- Biggest challenge: {{ $('Receive Audit Submission').item.json.body.bizChallenge }}\\n\\nAUDIT SCORES:\\nOverall AI Readiness: {{ $('Receive Audit Submission').item.json.body.totalScore }}/100 ({{ $('Receive Audit Submission').item.json.body.tier }})\\n\\nCategory Scores:\\n- Operations & Workflows: {{ $('Receive Audit Submission').item.json.body.scores.operations }}%\\n- Sales & Lead Management: {{ $('Receive Audit Submission').item.json.body.scores.sales }}%\\n- Customer Experience: {{ $('Receive Audit Submission').item.json.body.scores.customer }}%\\n- Marketing & Content: {{ $('Receive Audit Submission').item.json.body.scores.marketing }}%\\n- Strategy & AI Readiness: {{ $('Receive Audit Submission').item.json.body.scores.strategy }}%\\n\\nDetailed Answers:\\n{{ $('Receive Audit Submission').item.json.body.answersSummary }}\\n\\nProduce the following sections. Be specific, direct, and reference their industry and challenge.\\n\\nFORMAT EXACTLY AS:\\n\\n[EXECUTIVE_SUMMARY]\\n3-4 sentences on AI readiness, current stage, and single biggest opportunity. Honest, not generic.\\n\\n[STRENGTHS_GAPS]\\nStrengths (2-3 bullet points starting with checkmark):\\nGaps (2-3 bullet points starting with x mark):\\n\\n[ACTION_PLAN]\\nExactly 5 priority actions:\\nPRIORITY|TITLE|DESCRIPTION|TAG\\nPRIORITY = HIGH, MED, or LOW. TITLE = max 8 words. DESCRIPTION = 1-2 sentences. TAG = Quick Win | 30 Days | 90 Days | Strategic\\n\\n[QUICK_WINS]\\n3 specific things they can implement THIS WEEK with zero budget. Numbered. Concrete and specific to their industry.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Generate Report with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Receive Audit Submission').item.json.body;\nconst claudeResponse = $input.item.json;\nconst reportText = claudeResponse.content[0].text;\n\n// Parse sections\nconst extract = (tag) => {\n  const re = new RegExp(`\\\\[${tag}\\\\]([\\\\s\\\\S]*?)(?=\\\\[|$)`);\n  const m = reportText.match(re);\n  return m ? m[1].trim() : '';\n};\n\nconst execSummary = extract('EXECUTIVE_SUMMARY');\nconst strengthsGaps = extract('STRENGTHS_GAPS');\nconst actionPlanRaw = extract('ACTION_PLAN');\nconst quickWins = extract('QUICK_WINS');\n\n// Parse action plan\nconst actionLines = actionPlanRaw.split('\\n').filter(l => l.includes('|'));\nconst actionsHTML = actionLines.map(line => {\n  const [p, title, desc, tag] = line.split('|');\n  if (!p || !title) return '';\n  const color = p.trim() === 'HIGH' ? '#b5291c' : p.trim() === 'MED' ? '#8a5a00' : '#1e6e45';\n  const bg = p.trim() === 'HIGH' ? '#fdf0ee' : p.trim() === 'MED' ? '#fdf5e6' : '#eef6f1';\n  return `\n    <tr>\n      <td style=\"padding:14px 20px;border-bottom:1px solid #e8e4dc;vertical-align:top;\">\n        <span style=\"display:inline-block;background:${bg};color:${color};font-family:monospace;font-size:10px;padding:2px 8px;border-radius:2px;margin-bottom:6px;\">${p.trim()}</span><br/>\n        <strong style=\"font-size:13px;color:#1c1814;\">${(title||'').trim()}</strong><br/>\n        <span style=\"font-size:12px;color:#7a6e62;line-height:1.6;\">${(desc||'').trim()}</span><br/>\n        <span style=\"font-family:monospace;font-size:10px;color:#b0a898;border:1px solid #ddd8cf;padding:1px 6px;border-radius:2px;display:inline-block;margin-top:4px;\">${(tag||'').trim()}</span>\n      </td>\n    </tr>`;\n}).join('');\n\n// Category bars\nconst scores = body.scores || {};\nconst categories = [\n  { name: 'Operations & Workflows', icon: '⚙️', key: 'operations' },\n  { name: 'Sales & Lead Management', icon: '📈', key: 'sales' },\n  { name: 'Customer Experience', icon: '💬', key: 'customer' },\n  { name: 'Marketing & Content', icon: '📣', key: 'marketing' },\n  { name: 'Strategy & AI Readiness', icon: '🧠', key: 'strategy' }\n];\n\nconst catBarsHTML = categories.map(cat => {\n  const pct = scores[cat.key] || 0;\n  const color = pct >= 75 ? '#27ae60' : pct >= 50 ? '#8a5a00' : '#b5291c';\n  return `\n    <tr>\n      <td style=\"padding:10px 20px;border-bottom:1px solid #f0ece4;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"font-size:12px;font-weight:500;color:#1c1814;width:200px;\">${cat.icon} ${cat.name}</td>\n            <td style=\"padding:0 16px;\">\n              <div style=\"height:4px;background:#e8e4dc;border-radius:2px;overflow:hidden;\">\n                <div style=\"height:4px;width:${pct}%;background:${color};border-radius:2px;\"></div>\n              </div>\n            </td>\n            <td style=\"font-family:monospace;font-size:11px;color:#7a6e62;width:36px;text-align:right;\">${pct}%</td>\n          </tr>\n        </table>\n      </td>\n    </tr>`;\n}).join('');\n\n// Tier color\nconst score = body.totalScore || 0;\nconst tierLabel = body.tier || 'Developing';\nconst tierColor = score >= 75 ? '#27ae60' : score >= 50 ? '#8a5a00' : score >= 25 ? '#b5291c' : '#b5291c';\nconst tierBg = score >= 75 ? '#eef6f1' : score >= 50 ? '#fdf5e6' : '#fdf0ee';\n\n// Build full HTML email\nconst emailHTML = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"/></head>\n<body style=\"margin:0;padding:0;background:#f7f4ef;font-family:'Georgia',serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f7f4ef;padding:32px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;\">\n\n      <!-- HEADER -->\n      <tr><td style=\"background:#1c1814;padding:28px 36px;border-radius:3px 3px 0 0;\">\n        <p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.15em;text-transform:uppercase;color:rgba(255,255,255,0.4);\">AI Readiness Report · ${new Date().toLocaleDateString('en-GB',{day:'numeric',month:'long',year:'numeric'})}</p>\n        <h1 style=\"margin:12px 0 4px;font-size:28px;font-weight:700;color:#fff;letter-spacing:-0.02em;\">${body.bizName || 'Your Business'}</h1>\n        <p style=\"margin:0 0 24px;font-size:13px;color:rgba(255,255,255,0.5);\">${body.bizIndustry || ''} · ${body.bizSize || ''}</p>\n        <table cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"font-size:64px;font-weight:700;color:#fff;line-height:1;letter-spacing:-0.04em;\">${score}</td>\n            <td style=\"font-size:20px;color:rgba(255,255,255,0.3);padding:0 4px 8px;font-family:monospace;\">/100</td>\n            <td style=\"padding:0 0 8px 16px;\">\n              <p style=\"margin:0 0 6px;font-family:monospace;font-size:10px;letter-spacing:0.1em;text-transform:uppercase;color:rgba(255,255,255,0.4);\">AI Readiness Score</p>\n              <span style=\"display:inline-block;background:${tierBg};color:${tierColor};font-size:12px;font-weight:600;padding:4px 12px;border-radius:2px;\">${tierLabel}</span>\n            </td>\n          </tr>\n        </table>\n      </td></tr>\n\n      <!-- CATEGORY SCORES -->\n      <tr><td style=\"background:#fff;border-left:1px solid #ddd8cf;border-right:1px solid #ddd8cf;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:20px 20px 8px;\"><p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.18em;text-transform:uppercase;color:#b0a898;\">Category Breakdown</p></td></tr>\n          ${catBarsHTML}\n        </table>\n      </td></tr>\n\n      <!-- EXECUTIVE SUMMARY -->\n      <tr><td style=\"background:#fff;padding:0;border-left:1px solid #ddd8cf;border-right:1px solid #ddd8cf;border-top:1px solid #f0ece4;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:20px 20px 12px;\"><p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.18em;text-transform:uppercase;color:#b0a898;\">Executive Summary</p></td></tr>\n          <tr><td style=\"padding:0 20px 20px;\"><div style=\"border-left:3px solid #1c1814;padding:14px 18px;background:#faf8f4;font-size:14px;line-height:1.8;color:#7a6e62;\">${execSummary}</div></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- STRENGTHS & GAPS -->\n      <tr><td style=\"background:#fff;padding:0;border-left:1px solid #ddd8cf;border-right:1px solid #ddd8cf;border-top:1px solid #f0ece4;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:20px 20px 12px;\"><p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.18em;text-transform:uppercase;color:#b0a898;\">Strengths & Critical Gaps</p></td></tr>\n          <tr><td style=\"padding:0 20px 20px;\"><div style=\"border-left:3px solid #1c1814;padding:14px 18px;background:#faf8f4;font-size:14px;line-height:1.8;color:#7a6e62;white-space:pre-line;\">${strengthsGaps}</div></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- ACTION PLAN -->\n      <tr><td style=\"background:#fff;padding:0;border-left:1px solid #ddd8cf;border-right:1px solid #ddd8cf;border-top:1px solid #f0ece4;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:20px 20px 12px;\"><p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.18em;text-transform:uppercase;color:#b0a898;\">Priority Action Plan</p></td></tr>\n          ${actionsHTML}\n        </table>\n      </td></tr>\n\n      <!-- QUICK WINS -->\n      <tr><td style=\"background:#fff;padding:0;border-left:1px solid #ddd8cf;border-right:1px solid #ddd8cf;border-top:1px solid #f0ece4;\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr><td style=\"padding:20px 20px 12px;\"><p style=\"margin:0;font-family:monospace;font-size:10px;letter-spacing:0.18em;text-transform:uppercase;color:#b0a898;\">Quick Wins — This Week</p></td></tr>\n          <tr><td style=\"padding:0 20px 20px;\"><div style=\"border-left:3px solid #1c1814;padding:14px 18px;background:#faf8f4;font-size:14px;line-height:1.8;color:#7a6e62;white-space:pre-line;\">${quickWins}</div></td></tr>\n        </table>\n      </td></tr>\n\n      <!-- CTA -->\n      <tr><td style=\"background:#fdf0ee;padding:28px 36px;border:1px solid #ddd8cf;border-top:none;\">\n        <p style=\"margin:0 0 6px;font-family:monospace;font-size:10px;letter-spacing:0.15em;text-transform:uppercase;color:#b5291c;\">Ready to act on this?</p>\n        <h2 style=\"margin:0 0 10px;font-size:20px;font-weight:700;color:#1c1814;\">Need help implementing these recommendations?</h2>\n        <p style=\"margin:0 0 20px;font-size:13px;color:#7a6e62;line-height:1.7;\">Book a free 30-minute strategy call. We'll review your audit results together and map out exactly where automation can save you the most time and money.</p>\n        <a href=\"https://calendly.com/sonwa/consultation\" style=\"display:inline-block;background:#b5291c;color:#fff;font-size:13px;font-weight:600;padding:12px 24px;border-radius:2px;text-decoration:none;\">Book Your Free Strategy Call →</a>\n        <p style=\"margin:12px 0 0;font-family:monospace;font-size:10px;color:#b0a898;\">No commitment. No pitch. Just a focused 30-minute session on your business.</p>\n      </td></tr>\n\n      <!-- FOOTER -->\n      <tr><td style=\"padding:20px 36px;background:#f7f4ef;\">\n        <p style=\"margin:0;font-family:monospace;font-size:10px;color:#b0a898;text-align:center;\">AuditAI · AI Business Intelligence · Powered by Claude</p>\n      </td></tr>\n\n    </table>\n  </td></tr>\n</table>\n</body>\n</html>`;\n\nreturn { emailHTML, reportText, email: body.email, bizName: body.bizName, score: body.totalScore, tier: body.tier };\n"
      },
      "id": "build-email",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Your AI Readiness Report — {{ $json.bizName }} ({{ $json.score }}/100)",
        "emailType": "html",
        "message": "={{ $json.emailHTML }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Build HTML Email').item.json.email }}",
            "Submitted At": "={{ new Date().toISOString() }}",
            "Business Name": "={{ $('Receive Audit Submission').item.json.body.bizName }}",
            "Industry": "={{ $('Receive Audit Submission').item.json.body.bizIndustry }}",
            "Score": "={{ $('Receive Audit Submission').item.json.body.totalScore }}",
            "Tier": "={{ $('Receive Audit Submission').item.json.body.tier }}",
            "Cached Report": "={{ $('Build HTML Email').item.json.emailHTML }}"
          }
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Report sent to your email\" }"
      },
      "id": "respond-success",
      "name": "Respond to Browser",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Report resent to your email\" }"
      },
      "id": "respond-resent",
      "name": "Respond — Resent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 180]
    }
  ],
  "connections": {
    "Receive Audit Submission": {
      "main": [[{ "node": "Check Email in Sheet", "type": "main", "index": 0 }]]
    },
    "Check Email in Sheet": {
      "main": [[{ "node": "Email Already Used?", "type": "main", "index": 0 }]]
    },
    "Email Already Used?": {
      "main": [
        [{ "node": "Resend Cached Report", "type": "main", "index": 0 }],
        [{ "node": "Generate Report with Claude", "type": "main", "index": 0 }]
      ]
    },
    "Resend Cached Report": {
      "main": [[{ "node": "Respond — Resent", "type": "main", "index": 0 }]]
    },
    "Generate Report with Claude": {
      "main": [[{ "node": "Build HTML Email", "type": "main", "index": 0 }]]
    },
    "Build HTML Email": {
      "main": [[
        { "node": "Send Report Email", "type": "main", "index": 0 },
        { "node": "Save to Google Sheets", "type": "main", "index": 0 }
      ]]
    },
    "Send Report Email": {
      "main": [[{ "node": "Respond to Browser", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
